body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.phone-input {
  display: inline;
}

.logo {
  height: 20px;
}

.avatar-card {
  width: 220px;
  height: 110px;
  margin-top: 25px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
}

.user-profile {
  margin-top: 25px;
  margin-left: 25px;
}

#nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 0.5px solid;
  border-color: darkgrey;
  background-color: whitesmoke;
  top: 0px;
  z-index: 1;
}

#grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 5fr 1fr / 1fr 2fr 1fr;
  grid-template-areas:
    "h h"
    "l r"
    "l r"
    "l r"
    "l r"
    "l r"
    "f f";
}

.head {
  grid-area: h;
}
.left {
  grid-area: l;
}
.right {
  grid-area: r;
}

.foot {
  grid-area: f;
}
